.tw-public-navigation-btn-skip {
	position: fixed;
	top: 4px;
	left: 4px;
	z-index: 1001;
	transform: translateY(-200px);
	transition: transform 0s;
}
.tw-public-navigation-btn-skip:focus {
	transform: translateY(0);
}
.link-icon:not(:last-child) {
	margin-right: 16px;
}
.navbar-static-top {
	background: 0 0;
}
.navbar .icon-bar {
	display: block;
	width: 15px;
	height: 2px;
	background-color: #00b9ff;
	border-radius: 1px;
}
.navbar .icon-bar + .icon-bar {
	margin-top: 4px;
}
@media (max-width: 767px) {
	.navbar + .navbar-push-container {
		transition: transform .35s ease;
	}
	.navbar.navbar-open + .navbar-push-container {
		transform: translateX(100%);
		position: fixed;
	}
}
@media (min-width: 768px) {
	.navbar--submenu {
		height: 128px !important;
		position: relative;
		min-height: 64px;
	}
	.navbar--submenu::before {
		content: '';
		background-color: transparent;
		width: 100%;
		height: 64px;
		position: absolute;
		top: 64px;
		border-top: #f2f5f7 solid 1px;
		left: 0;
	}
	.navbar--submenu.navbar--inverse::before {
		background-color: #2e4369;
		border-top: none;
	}
	.navbar--submenu .navbar-nav > li > a {
		padding-top: 13px;
	}
	.navbar--submenu .navbar-nav > li > button {
		height: 64px;
	}
	.navbar--submenu .tw-public-navigation-menu .navbar-btn,
	.navbar--submenu .tw-public-navigation-menu .navbar-brand {
		margin-top: 16px;
	}
	.navbar--submenu-menu {
		position: absolute;
		top: 64px;
	}
}
@media (min-width: 768px) and (min-width: 767px) {
	.navbar--submenu .navbar-nav > li > a.btn {
		padding-top: 4px;
	}
	.navbar--submenu .navbar-nav > li > a.btn.btn-default {
		border-bottom: 1px solid #00b9ff;
	}
}
.footer-bottom-group {
	display: flex;
	flex-wrap: wrap;
}
.footer-bottom-item {
	width: 100%;
}
@media (min-width: 576px) {
	.footer-bottom-item {
		width: 50%;
		padding-right: 12px;
	}
}
@media (min-width: 768px) {
	.footer-bottom-group {
		padding: 0;
	}
	.footer-bottom-item {
		width: 33%;
		padding: 0 12px;
	}
}
.footer.footer-inverse .tiny {
	color: #fff;
}
.footer a.footer-link {
	text-decoration: underline;
	color: currentColor;
}
.footer .tiny {
	color: #2e4369;
}
.tw-public-navigation__logo {
	display: flex;
	align-items: center;
	height: 100%;
}
.tw-public-navigation__logo .logo-text {
	float: left;
	width: 105px;
	height: 15px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	margin: 0;
}
.tw-public-navigation__logo .fast-flag {
	margin: 0;
}
.tw-public-navigation__logo .navbar-brand {
	margin: 0;
}
.navbar--inverse .navbar-brand {
	background-image: url(../../../../../images/Logo/logoresized.png);
}
.tw-public-navigation-menu .navbar-nav > li .btn-primary,
.tw-public-navigation-menu .navbar-nav > li .btn-default {
	padding-left: 16px;
	padding-right: 16px;
	margin-left: 10px;
}
.tw-public-navigation-menu .navbar-nav > li .btn-primary {
	color: #fff;
}
.navbar--inverse .navbar-nav > li > .btn-default {
	color: #00b9ff;
}
.navbar--inverse .navbar-nav > li > .btn-default:hover,
.navbar--inverse .navbar-nav > li > .btn-default:focus {
	color: #fff;
	background-color: #00b9ff;
}
.navbar--inverse .btn-link {
	color: #fff;
}
.tw-public-navigation-menu__header {
	height: 56px;
	flex-shrink: 0;
}
@media (min-width: 767px) {
	.navbar--submenu .tw-public-navigation-menu__header {
		height: 64px;
	}
	.navbar--submenu .tw-public-navigation-menu__header .navbar-brand {
		margin-top: 4px;
	}
}
.tw-public-navigation-menu__buttons > * {
	display: inline-block;
}
.tw-public-navigation-menu {
	z-index: 2;
}
.tw-public-navigation-menu .dropdown-menu > li:not(.active):not(.selected) > a:not([disabled]):not(.disabled):active {
	background-color: transparent;
}
.tw-public-navigation-menu.collapse {
	display: initial;
	visibility: hidden;
	transition: visibility 0s ease .35s;
}
.tw-public-navigation-menu.collapse.in {
	visibility: visible;
	transition: visibility 0s ease;
}
@media screen and (min-width: 768px) {
	.tw-public-navigation-menu.collapse {
		visibility: visible;
	}
}
.tw-public-navigation-menu__overlay {
	border: 0;
}
.tw-public-navigation-menu .navbar-nav > li > a,
.tw-public-navigation-menu .navbar-nav > li > button {
	font-weight: 600;
	padding-right: 10px;
	padding-left: 10px;
}
.tw-public-navigation-menu .navbar-nav > li > .tw-link-with-chevron:after {
	display: none;
}
.tw-public-navigation-menu .navbar-btn {
	margin-top: 12px;
}
.tw-public-navigation-menu .navbar-btn a {
	text-decoration: none !important;
	transition: color ease .15s;
}
@media (max-width: 767px) {
	.tw-public-navigation-menu.navbar-collapse .navbar-nav {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
	}
	.tw-public-navigation-menu.navbar-collapse .navbar-nav.navbar--submenu-menu {
		flex-grow: 0;
	}
	.tw-public-navigation-menu.navbar-collapse .navbar-nav > li {
		border-bottom: 1px solid #253655;
	}
	.tw-public-navigation-menu.navbar-collapse .navbar-nav > li > .tw-link-with-chevron:after {
		display: initial;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
	}
	.tw-public-navigation-menu.navbar-collapse .navbar-nav > li:not(.navbar-btn) + .navbar-btn {
		flex-grow: 1;
		display: flex;
		justify-content: center;
		align-items: flex-end;
	}
	.tw-public-navigation-menu.navbar-collapse .navbar-nav > li.navbar-btn {
		border-bottom: none;
	}
	.tw-public-navigation-menu.navbar-collapse .navbar-nav > li a,
	.tw-public-navigation-menu.navbar-collapse .navbar-nav > li button {
		padding-left: 0;
		padding-right: 0;
	}
	.tw-public-navigation-menu.navbar-collapse .navbar-nav > li a:hover .tw-public-navigation-item-content__text,
	.tw-public-navigation-menu.navbar-collapse .navbar-nav > li button:hover .tw-public-navigation-item-content__text {
		color: #00b9ff;
	}
	.tw-public-navigation-menu.navbar-collapse .navbar-nav > li .tw-public-navigation-item-content__text {
		font-size: 14px;
		color: #fff;
		max-width: 100vw;
	}
	.tw-public-navigation-menu.navbar-collapse .navbar-nav > li .tw-public-navigation-item-content__icon svg {
		fill: #fff;
	}
	.tw-public-navigation-menu.navbar-collapse .navbar-nav .navbar-btn {
		margin-top: 0;
	}
	.tw-public-navigation-menu.navbar-collapse .navbar-nav .navbar-btn a {
		display: block;
		width: 100%;
	}
	.tw-public-navigation-menu.navbar-collapse .navbar-nav .navbar-btn a.btn-default {
		color: #fff;
		background-color: #00b9ff;
		border-color: #00b9ff;
	}
	.tw-public-navigation-menu.navbar-collapse .navbar-nav .navbar-btn a.btn-default:hover {
		color: #fff;
		background-color: #00a4df;
		border-color: #00a4df;
	}
	.tw-public-navigation-menu.navbar-collapse .navbar-nav .navbar-btn a.btn-link {
		color: #00b9ff;
		background-color: transparent;
		border-color: #00b9ff;
	}
	.tw-public-navigation-menu.navbar-collapse .navbar-nav .navbar-btn a.btn-link:hover {
		color: #fff;
		background-color: #00b9ff;
		border-color: #00b9ff;
	}
	.tw-public-navigation-menu.navbar-collapse .navbar-nav .navbar-btn a.btn:active {
		color: #fff;
		background-color: #008ec0;
		border-color: #008ec0;
	}
	.tw-public-navigation-menu.navbar-collapse .navbar-nav .navbar-btn a.btn:focus {
		outline: thin dotted rgba(0, 0, 0, .5);
		outline-offset: 2px;
		outline-offset: -2px;
	}
	.tw-public-navigation-menu.navbar-collapse .navbar-nav .navbar-btn .btn-default,
	.tw-public-navigation-menu.navbar-collapse .navbar-nav .navbar-btn .btn-primary {
		margin-left: 0;
	}
	.tw-public-navigation-menu.navbar-collapse .tw-public-navigation-menu__header {
		border-bottom: 1px solid #253655;
	}
	.tw-public-navigation-menu__sidebar.navbar-collapse-panel {
		background-color: #2e4369;
		max-width: none !important;
		width: 100% !important;
		transform: translateX(-100%);
		padding: 0 16px 16px;
		display: flex;
		flex-direction: column;
	}
}
@media (max-width: 767px) and (min-width: 576px) {
	.tw-public-navigation-menu__sidebar.navbar-collapse-panel {
		padding: 0 24px;
	}
}
@media (max-width: 830px) and (min-width: 576px) {
	.tw-public-navigation-menu .navbar-nav > li > button .badge,
	.tw-public-navigation-menu .navbar-nav > li > a .badge {
		display: none;
	}
}
.tw-public-navigation-menu__menu-toggle {
	height: 100%;
	font-size: 32px;
	line-height: 24px;
	color: #00b9ff;
	text-decoration: none;
	float: left;
	margin-right: 4px;
	border: 0;
	background-color: transparent;
	transition-delay: .35s !important;
	padding-left: 0;
	padding-right: 8px !important;
}
.tw-public-navigation-menu__menu-toggle.collapsed {
	transition-delay: unset !important;
}
.tw-public-navigation-item-content__icon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 4px;
}
.tw-public-navigation-item-content__icon svg {
	vertical-align: top;
	margin-top: -2px;
}
@media (min-width: 992px) {
	.navbar--submenu .tw-public-navigation-item-content__text {
		max-width: initial;
	}
}
@media (min-width: 992px) {
	.navbar--submenu .tw-public-navigation-item-content__text {
		max-width: initial;
	}
}
.navbar-nav > li > a:not(.btn) {
	padding-bottom: 7px !important;
}
@media (min-width: 768px) {
	.navbar--inverse .navbar-nav > li > a,
	.navbar--inverse .navbar-nav > li > button.dropdown-toggle,
	.navbar--inverse .navbar-nav > li > button.dropdown-toggle > .tw-link-with-chevron-icon {
		color: #fff;
	}
}
.navbar--inverse .navbar-nav > li > a:hover,
.navbar--inverse .navbar-nav > li > button.dropdown-toggle:hover,
.navbar--inverse .navbar-nav > li > button.dropdown-toggle:hover > .tw-link-with-chevron-icon {
	color: #00b9ff;
}
.navbar--inverse .navbar-nav > li.active > a {
	color: #00b9ff;
}
.navbar-nav > li > button.dropdown-toggle {
	display: flex;
	align-items: center;
}
@media (min-width: 768px) {
	.navbar-nav > li > button.dropdown-toggle .tw-link-with-chevron-icon {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 4px;
		transform: rotate(90deg);
	}
}
.tw-public-navigation-menu__dropdown-menu {
	background-color: #f2f5f7;
	padding: 0;
}
.tw-public-navigation-menu__dropdown-menu li .dropdown-content {
	padding: 4px 40px;
}
.tw-public-navigation-menu__dropdown-menu li:nth-child(2) .dropdown-content {
	padding-top: 40px;
}
.tw-public-navigation-menu__dropdown-menu li:first-child .dropdown-content {
	padding-bottom: 40px;
	padding-top: 40px;
	background-color: #fff !important;
}
.tw-public-navigation-menu__dropdown-menu li:last-child .dropdown-content {
	padding-bottom: 40px;
}
@media (min-width: 767px) and (max-width: 1199px) {
	.navbar-nav > li:first-of-type .tw-public-navigation-menu__dropdown-menu {
		left: 0;
		right: auto;
	}
	.navbar-nav > li:first-of-type .tw-public-navigation-menu__dropdown-menu:before {
		left: calc(10px + 8px/2);
		right: auto;
	}
}
.navbar-nav > li > .tw-public-navigation-menu__dropdown-menu.dropdown-menu:before {
	right: calc(10px + 8px/2);
	background-color: #fff;
}
@media (max-width: 767px) {
	.navbar-nav > li > .tw-public-navigation-menu__dropdown-menu.dropdown-menu:before {
		display: none;
	}
}
.tw-public-navigation-menu__language-selector .tw-public-navigation-item-content__text {
	margin-right: auto;
}
@media (max-width: 767px) {
	.tw-public-navigation-menu__language-selector .dropdown-menu {
		display: block;
		visibility: visible;
		opacity: 1;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		max-width: 100vw;
		transform: translateX(-100%);
		transition: transform .35s ease !important;
		border-radius: 0;
		overflow: auto;
	}
	.tw-public-navigation-menu__language-selector.dropdown-open .dropdown-menu {
		transform: translateX(0);
	}
}
.dropdown-cta {
	width: 450px;
}
.dropdown-cta img {
	height: 55px;
}
.dropdown-cta p {
	white-space: normal;
	color: #5d7079;
}
.dropdown-cta strong {
	display: flex;
}
.dropdown-cta:not(:last-child) .dropdown-content {
	border-radius: 3px;
	border-bottom: 2px solid #e2e6e8;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.tw-link-with-chevron {
	display: flex !important;
	align-items: center;
	justify-content: space-between;
}
@media (min-width: 768px) {
	.tw-link-with-chevron {
		justify-content: flex-start;
	}
	.tw-link-with-chevron.visible-xs,
	.tw-link-with-chevron.visible-xs-block {
		display: none !important;
	}
}
.tw-link-with-chevron .tw-link-with-chevron-icon {
	display: inline-block;
	margin-left: 8px;
	transition: transform .2s ease-in-out;
	color: #00b9ff;
}
@media (min-width: 768px) {
	.tw-link-with-chevron:hover > .tw-link-with-chevron-icon,
	.tw-link-with-chevron:focus > .tw-link-with-chevron-icon,
	.callout-container:hover .tw-link-with-chevron > .tw-link-with-chevron-icon,
	.callout-container:focus .tw-link-with-chevron > .tw-link-with-chevron-icon {
		transform: translateX(4px);
	}
}
.navbar-nav > li.dropdown:hover .tw-public-navigation-menu__language-dropdown .language-dropdown-title.active,
.navbar-nav > li.dropdown:focus .tw-public-navigation-menu__language-dropdown .language-dropdown-title.active,
.navbar-nav > li.dropdown:focus-within .tw-public-navigation-menu__language-dropdown .language-dropdown-title.active,
.navbar-nav > li.dropdown.focus-within .tw-public-navigation-menu__language-dropdown .language-dropdown-title.active {
	visibility: visible;
}
.tw-public-navigation-menu__language-dropdown {
	width: 380px;
}
.tw-public-navigation-menu__language-dropdown .dropdown-cta {
	width: 380px;
}
.tw-public-navigation-menu__language-dropdown .dropdown-cta .dropdown-content {
	display: block;
	height: 115px;
}
.tw-public-navigation-menu__language-dropdown .tw-icon {
	padding-left: 8px;
	display: inline-block;
}
.tw-public-navigation-menu__language-dropdown li:nth-child(n + 2) {
	width: 50%;
	display: inline-block;
}
.tw-public-navigation-menu__language-dropdown li:nth-child(n + 2) .btn {
	width: 100%;
	text-align: left;
}
.tw-public-navigation-menu__language-dropdown li:nth-child(n + 2) .btn:focus {
	outline: thin dotted rgba(0, 0, 0, .5);
	outline-offset: -2px;
}
.tw-public-navigation-menu__language-dropdown li:nth-child(n + 2) .btn:hover strong {
	color: #00a4df;
	transition: color .15s ease;
}
.tw-public-navigation-menu__language-dropdown li:nth-child(n + 2) .dropdown-content {
	padding-right: 0;
	background-color: transparent;
}
.tw-public-navigation-menu__language-dropdown li:nth-child(3) .dropdown-content,
.tw-public-navigation-menu__language-dropdown li:nth-child(4) .dropdown-content {
	padding-top: 40px;
}
.tw-public-navigation-menu__language-dropdown li:nth-last-child(2):nth-child(odd) .dropdown-content {
	padding-bottom: 40px;
}
.tw-public-navigation-menu__language-dropdown .language-dropdown-title {
	transition: visibility .4s ease;
	-webkit-animation: move-out .4s ease;
	animation: move-out .4s ease;
	position: absolute;
	visibility: hidden;
}
.tw-public-navigation-menu__language-dropdown .language-dropdown-title.active {
	-webkit-animation: move-in .6s ease;
	animation: move-in .6s ease;
}
@-webkit-keyframes move-out {
	0% {
		transform: translateY(0);
		opacity: 1;
		visibility: visible;
	}
	100% {
		transform: translateY(-20px);
		opacity: 0;
	}
}
@keyframes move-out {
	0% {
		transform: translateY(0);
		opacity: 1;
		visibility: visible;
	}
	100% {
		transform: translateY(-20px);
		opacity: 0;
	}
}
@-webkit-keyframes move-in {
	0%,
	33% {
		transform: translateY(20px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes move-in {
	0%,
	33% {
		transform: translateY(20px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
@media (max-width: 767px) {
	.tw-public-navigation-menu__language-dropdown {
		padding: 0 16px !important;
		background-color: #2e4369 !important;
	}
	.tw-public-navigation-menu__language-dropdown li {
		width: 100% !important;
	}
	.tw-public-navigation-menu__language-dropdown li:nth-child(3) .dropdown-content {
		padding-top: 16px !important;
	}
	.tw-public-navigation-menu__language-dropdown .dropdown-content {
		padding: 4px 0 !important;
		min-height: 0;
	}
	.tw-public-navigation-menu__language-dropdown .dropdown-content strong {
		color: #fff;
		font-weight: 100;
		font-size: 14px;
	}
}
@media (max-width: 767px) and (max-width: 767px) and (min-width: 576px) {
	.tw-public-navigation-menu__language-dropdown {
		padding: 0 24px !important;
	}
}
.tw-public-navigation {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}
